@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');


body{
    background-image:url("https://www.teahub.io/photos/full/135-1353101_4k-phone-wallpapers-space.jpg") ;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.container{
    background: #ECF4FF;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0E1D2F;
    color: #1C1C1C;
    padding: 64px;
}

.profile{
    display: flex;
    justify-content:space-evenly;
}

.profile-information{
    display: flex;
    align-items: center;
}

.profile-photo{
    border-radius: 400px;
    max-height: 160px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information-description{
    margin-left:20px;
}

.information-description h1{
    font-weight: 700;
    font-size: 36px;
}

.description-h3{
    font-weight: 400;
    font-size: 24px;
}

.profile-links{
    font-weight: 700;
    font-size: 24px;
    margin-top: 42px;
}

.projects{
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
    margin-top: 32px;
    padding: 32px;
    display: flex;

    flex-direction: column;
}

.projects-list{
    list-style: none;
    font-weight: 700;
    font-size: 36px;
    color: #1C1C1C;
}

.list-item{
    font-size: 36px;
    font-weight: 400px;
    line-height: 48px;
}

.list-item a{
    color: #1C1C1C;
    font-size: 24px;;
}

.list-item p{
    color: #1C1C1C;
    list-style-type: none;
}

