@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image:url("https://www.teahub.io/photos/full/135-1353101_4k-phone-wallpapers-space.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.container{
    background: rgba(51, 52, 57, 1);
    margin: 4.8rem;
    border-radius: 1.25rem;
    box-shadow: 6px 6px 6px #0E1D2F;
    color: #1C1C1C;
    padding: 4rem;
    padding-top: 2rem;
}

.profile{
    color: #F7F7F7;
    display: flex;
    justify-content:space-evenly;
    gap: 1.8rem;
}

.profile-information{
    display: flex;
    align-items: center;
}

#avatar{
    border-radius: 25rem;
    max-height: 10rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information-description{
    margin-left:1.25rem;
}

#myName{
    font-weight: bold;
    font-size: 2.6rem;
}

#description{
    font-weight: normal;
    font-size: 1.6rem;
}

.profile-links{
    color: #1C1C1C;
    padding-left: 0rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 2.625rem;
    list-style: none;
    background: #f3efef;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 1rem;
    padding: 0.5rem;
}

.list-item-links{
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 3rem;
    margin: 1.5rem;
    text-shadow: 0.2px 0.2px 0.4px rgba(37, 37, 37, 0.42);
}

.list-item-links a{
    color: #1C1C1C;
    font-size: 1.4rem;
    text-decoration: none;
    display: flex;
    gap: 10px;
}

.list-item-links:hover{
    transform: scale(1.05);
}

.icon{
    width: 2.6rem;
    height: 2.6rem;
}

.projects{
    font-weight: 700;
    font-size: 2.25rem;
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 1.25rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
}

.projects h1{
    margin-left: 5rem;
    margin-bottom: 0rem;
    font-weight: bold;
}

.projects-list{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 0rem;
}

.list-item{
    
    background: rgb(38, 38, 43);
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    padding: 2rem;
    border-radius: 1.25rem;
    font-size: 2.25rem;
    line-height: 3rem;
    margin-top: 4.2rem;
    margin-left: auto;
    margin-right: auto;
}

.project-theme p{
    display: flex;
    justify-content: center;
    color: #F7F7F7;
}

.project-images{
    width: 45rem;
    height: 25rem; 
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(36, 35, 35);
    margin-left: auto;
    margin-right: auto;
}


.project-links{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button{
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    background: #F7F7F7;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    border: none;
    color:#1C1C1C;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700px;
    max-width: 700px;
    min-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    
}

button:hover{
    transform: scale(1.05);
}